backend/My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is MediMind AI. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "00d43f9e-abfe-4777-8902-13c10de653f6",
      "name": "When chat message received",
      "webhookId": "77cd8b14-d644-49d3-a45b-ce004e7eb8a2"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c5c3e7dc-f41f-4721-af4b-6d2a4479a8d0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        192
      ],
      "id": "5661ed1a-57e9-4c38-93b2-add626b843ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "=test-session"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "fieldId": "ai_response",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "fa37ed43-c202-46a0-8afa-4b4f0ccc3edf",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "nmMnFuvAA0x1lPCM",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1557a6c4-90e7-401a-86cb-ea1b19872e42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7cdbb2e26d73aadb614fc9010df4928a6e39d435963cae79000853fb2e762f8"
  },
  "nodeGroups": [],
  "id": "enSJAtFpvANUin0F",
  "tags": [
    {
      "updatedAt": "2026-07-12T08:14:19.015Z",
      "createdAt": "2026-07-12T08:14:19.015Z",
      "id": "rsy8zQKVOANeOopT",
      "name": "MediMind AI Backend"
    }
  ]
}